<!DOCTYPE html>
<html lang="pt">
{% load static %}

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
    <title>Blog - Adicione um comentário</title>
    <link rel="stylesheet" href="{% static 'css/cssGeral.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body>
    <h1>Blog - Adicione um comentário</h1>

    <hr>
    <div class="tabela-centro">
        <form action="" method="post">
            {% csrf_token %}
            {{form4.as_p}}

            {% if erro %}
            <p>{{ erro }}</p>
            {% endif %}

            <div class="center-align">
                <a href="/blog1/#index">
                    <button type="button" class="button">Volta atrás</button>
                </a>
                <input type="reset" value="Limpar" name="form4">
                <input type="submit" name="form4">
            </div>
            <br>
        </form>
    </div>

</body>