<!DOCTYPE html>
<html lang="pt">
{% load static %}

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'css/cssIndex.css' %}">
    <script defer src="{% static 'js/javaIndex.js' %}"></script>
    <title>O meu portfólio</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body>
    <div class="index" id="index">

        <div class="barraMenu" id="barra">
            <p id="data-atual" class="data"></p>
            <script>
                const months = ["Janeiro", "Feveriro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];
                let data = new Date();
                let month = months[data.getMonth()];
                let dia = data.getDate();
                let ano = data.getFullYear();
                document.getElementById("data-atual").innerHTML = "Data: " + dia + " de " + month + ", " + ano;
            </script>
            <button onclick="clicaDarkMode()" class="butaoDarkMode" id="butaoDarkMode">dark mode</button>
            <nav class="palavrasMenu grid-container" id="menu">
                <a href="#inicio" id="inicioItem" class="item1">Inicio</a>
                <a href="#aboutMe" id="aboutItem" class="item2">About me</a>
                <a href="#licenciatura" id="uniItem" class="item3">Universidade</a>
                <a href="#projetos" id="projItem" class="item4">Projetos</a>
                <a href="#contactos" id="contacItem" class="item5">Contactos</a>
                <div class="dropdown">
                    <button class="dropbtn item6" id="outrosItem">
                        Outros
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#tec">Web-Tec</a>
                        <a href="imagem">Imagem reflexiva</a>
                        <a href="calculadora">Calculadora</a>
                        <a href="blog1">Blog</a>
                        <a href="login">Admin</a>
                    </div>
                </div>

            </nav>
        </div>
        <br id='inicio'><br><br><br><br><br><br><br><br><br><br><br><br>

        <header>
            <h1 class="hero-text">Futuro programador, atualmente estudante de Engenharia Informática</h1>
        </header>


        <img src="{% static 'img/logo.png'%}" alt="logotipo" style="animation: 2s anim-lineUp ease-out;transition: 1s;">

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        <div class="scroll1" id="aboutMe">
            <div class="barra hidden"></div><br><br><br>

            <div class="hidden">

                {% block paragrafo %}
                {% for facto in factos %}

                <p>{{facto.conteudo}}</p>

                {% endfor %}
                {% endblock paragrafo %}

            </div>


        </div>

        <div id="licenciatura"></div><br>

        <br><br>



        <div class="barra hidden"></div><br>

        <div class="licenciatura hidden">
            <table class="tabela-licenciatura">

                <h1 class="texto-titulo">Informação das cadeiras do curso</h1>
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Ano</td>
                        <td>Semestre</td>
                        <td>ECTS</td>
                        <td>Coordenador da Cadeira</td>
                        <td>Nota (Valores)</td>
                        <td>Ranting</td>
                    </tr>
                </thead>

                <tbody>
                    {% block tr %}
                    {% for cadeira in cadeiras %}

                    <tr>
                        <td><a href="{{cadeira.link_site}}">{{cadeira.nome}}</a></td>
                        <td>{{cadeira.ano}}º ano</td>
                        <td>{{cadeira.semestre}}º Semestre</td>
                        <td>{{cadeira.etcs}} ects</td>
                        <td>{{cadeira.coordenador}}</td>
                        <td>{{cadeira.nota}}</td>
                        <td> {{cadeira.rating|default:""}}</td>
                    </tr>

                    {% endfor %}
                    {% endblock tr %}
                </tbody>



            </table>


        </div>
        <br>
        <br id="projetos"><br>
        <div class="barra hidden"></div><br>
        <h1 class="texto-titulo hidden">Projetos Realizados</h1><br>
        <div class="projetos hidden">
            {% block proj %}
            {% for projeto in projetos %}

            <p>{{projeto.descricao}}
                {% if projeto.link_associado %}
                <a href="{{ cadeira.link_associado }}">aqui</a>.
                {% endif %}

            </p>

            {% endfor %}
            {% endblock proj %}


            <p>
                Para a cadeira de programação web, do 2º ano do 2º semestre, realizei alguns laboratórios, sendo os
                próprios:
                <a href="https://filipeoliveira03.pythonanywhere.com" class="texto-link">LAb2</a>, <a
                    href="https://lab3pwfilipe.pythonanywhere.com" class="texto-link">LAB3</a> e <a
                    href="https://lab4pw.pythonanywhere.com" class="texto-link">LAB4</a>.
            </p>
        </div>

        <br id="tec">
        <br>
        <div class="barra hidden"></div><br>

        <div class="info-site hidden">
            <h1 class="texto-titulo">Tecnologias usadas neste Website</h1>

            {% block tecn %}
            {% for tecn in tecnologias %}
            <div class="imagem-texto-lado">
                {% if tecn.nome == "HTML" %}
                <img src="{{tecn.imagem}}" id="LogoHTML">
                {% elif tecn.nome == "CSS" %}
                <img src="{{tecn.imagem}}" id="LogoCSS">
                {% elif tecn.nome == "JavaScript" %}
                <img src="{{tecn.imagem}}" id="LogoJS">
                {% endif %}
                <p>{{tecn.descrição}}</p>
            </div>
            {% endfor %}
            {% endblock tecn %}






        </div>
        <br id="contactos">
        <div class="barra"></div><br>
        <div class="rodape hidden">



            <a href="https://www.linkedin.com/in/filipe-oliveiraaa/">
                <img src="https://www.edigitalagency.com.au/wp-content/uploads/new-linkedin-logo-white-black-png.png"
                    alt="linkedin" class="logotipo">
            </a>
            <a href="https://github.com/FilipeOliveira03">
                <img src="{% static 'img/github.png'%}" alt="GitHub" class="logotipo">
            </a>
            <a href="https://www.instagram.com/filipemoliveiira/">
                <img src="https://www.iconpacks.net/icons/2/free-instagram-logo-icon-3497-thumb.png" alt="insta"
                    class="logotipo">
            </a>
            <a href="https://www.ulusofona.pt">
                <img src="https://www.ulusofona.pt/media/logotipo-geral-vertical-preto-png.png" alt="lusofona"
                    class="lusofona">
            </a>

            <div class="grid-contactos">
                <p class="item1Contactos">Contacto: filipe.martim.oliveira@gmail.com</p>
                <p class="item2Contactos">Universidade Lusofona de Humanidades e Tecnologias</p>
                <p class="item3Contactos">Autor: Filipe Oliveira</p>
                <p class="item4Contactos">2º ano, Engenharia Informática</p>
            </div>
            <br>

        </div>
    </div>

</body>

</html>